body{
    background-color: #1F51FF;
    text-align: center; /* aligns image in center */
   
}

img{
    width: 400px;
    height: 200px;
    margin-top: 20px;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

header p {
    font-weight: bold;
    margin: 20px;
    display: inline;
    font-size: 25px;
}

.user-answer{
    display: flex;
    justify-content: center;
}

input::placeholder {
    font-size: 16px;
}


input, #submit-answer-button {
    margin: 20px;
    font-size: 25px;
}

#submit-answer-button {
    color: #060CE9 ;
    background-color: #ffcc00;
    border: 3px solid white;
    font-size: 20px;
}

#question-display,
#answer-display {
    height: 20px;
    color: white;
}

.category-columns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-evenly;
    align-items: center;
}

.category, .question {
    background-color: #060CE9;
    color: #ffcc00;
    font-size: 50px;
    width: 200px;
    height: 60px;
    text-align: center;
    border: 3px solid white;
}

.category {
    color: white;
    font-size: 27px;
    text-align: center;
}

.score {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.score > h3 {
    color: black;
    font-size: 40px;
}

#score-display {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #060CE9 ;
    color: white;
    font-size: 30px;
    width: 250px;
    height: 50px;
    border: 2px solid black;
    
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#reset {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 15px;
    color: #060CE9 ;
    background-color: #ffcc00;
    border: 3px solid white;
    width: 100px;
    height: 50px;
}

